$hopscotch-main: #19d8bf;

body._AE_dark-mode, html:has(body._AE_dark-mode) {
  --col-bg-main: black;
  --col-bg-translucent: #444c;
  --col-text: #ccc;
  --time-trans: 0s;
  --col-close-opt-popup: #111e;
  --col-bg-toolbar-translucent: #2a2a2aee;
  --editor-bg: url("/images/editor_dark.jpeg");
}

body._AE_dark-mode {
  --col-bg-main: black;
  --col-bg-translucent: #444c;
  --col-text: #ccc;
  --time-trans: 0s;
  --col-close-opt-popup: #111e;
  --col-bg-toolbar-translucent: #2a2a2aee;
  --editor-bg: url("/images/editor_dark.jpeg");
  .operators-keyboard div.param-bubble {
    background-color: #444;
    color: var(--col-text);
  }
  .operators-keyboard div.param-bubble i.hs-sound::before, .operators-keyboard div.param-bubble i.hs-note::before, .operators-keyboard div.param-bubble i.hs-rhythm::before, .operators-keyboard div.param-bubble i.hs-instrument::before {
    color: inherit;
  }
  .fullscreen.customblock-composer > h2,
  .fullscreen.parameter-text-editor > h2,
  .fullscreen.variable-name-editor > h2,
  .fullscreen.object-canvas-editor > h2 {
    color: white;
  }
  .blocks-keyboard, .operators-keyboard, ._AE-hs-tools-keyboard {
    --col-keyboard-bg: #333;
    --col-keyboard-bg-highlight: #444;
    --col-keyboard-border: #aaa;
    @media (prefers-color-scheme: light) {
      // Invert icons when system theme doesn't change the icons
      .category-label img:not(
        [src$=".png"]):not(
        [src*="objects-custom"]):not(
        [src*="-characters"]):not(
        [src*="-jungle"]):not(
        [src*="-device"]):not(
        [src*="editor/blocks-"]):not(
        [src*="operator-device"]):not(
        [src*="operator-uservar"]):not(
        [src*="operator-color"]):not(
        [src*="operator-custom"]),
      .category-label img[src*="blocks-custom"] {
        filter: invert(1) brightness(2);
        -webkit-filter: invert(1) brightness(2);
      }
    }
  }
}

._AE-left-btn-container {
  position: fixed;
  top: 4px;
  left: 100px;
  .ui-button > img {
    width: 30px;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
  }
}
._AE-hs-tools-keyboard {
  padding-top: 46px;
  .keyboard-category-selector {
    display: flex;
    .medium-screen { display: none }
    @media (min-width: 460px) {
      .medium-screen { display: inline }
      .small-screen { display: none }
    }
  }
  .category-label[data-tab="search"]:not(.expand) {
    flex-grow: 0;
  }
  .category-label > p.icon {
    margin: 0;
    font-size: 18px;
    margin-right: 4px;
  }
  #_ae-kb-option-selector {
    display: none;
    position: fixed;
    opacity: 0;
    bottom: 0;
    left: 0;
    margin: 4px;
    width: 38px;
    height: 38px;
    border-radius: 10px;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
  }
  div.keyboard-blocks-container {
    color: white;
    label, div.row {
      display: flex;
      align-items: center;
      margin-bottom: 6px;
      font-size: 18px;
      padding: 0 6px;
      white-space: nowrap;
      width: fit-content;
    }
    div.row {
      margin-bottom: 10px;
      height: 24px;
    }
    input {
      width: 70px;
      font-size: 16px;
      padding: 4px 6px;
      margin: 0 4px;
      flex-grow: 1;
      border: 1px solid #666;
      border-radius: 2px;
      &.expand { width: 100%; }
      &[type="number"] {
        width: 70px;
        flex-grow: 0;
      }
      &[type="checkbox"] {
        flex-grow: 0;
        width: 20px;
        height: 20px;
        margin-left: 6px;
      }
      &:invalid { border-color: red; }
      &:focus {
        outline: 1px solid $hopscotch-main;
        &:invalid { outline-color: red; }
      }
    }
    button {
      margin: 0 0 0 6px;
      color: black;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      min-width: 24px;
      height: 24px;
      font-size: 16px;
      i.hs-icon { font-size: 20px; }
      + i.hs-icon {
        position: relative;
        top: -2px;
        font-size: 16px;
        margin-left: 6px;
      }
      transition: opacity 0.2s;
      &[hidden] { display: none; }
    }
  }

  // Search
  #_AE_search-options {
    .option-rows-container {
      display: flex;
      gap: 12px;
      flex-direction: column;
    }
  }
  .search-input-container-desktop {
    padding-bottom: 0;
    height: 44px;
    overflow: visible;
    input[type="search"] {
      flex-grow: 1;
      border: 0;
      margin-right: 4px;
      padding: 4px 8px;
    }
    button {
      background-color: white;
      color: black;
      border: 0;
      outline: initial;
    }
  }
  #_AE_search-results > .search-result {
    zoom: 0.8;
    width: 100%;
    .trace {
      padding: 0 10px;
      display: flex;
      align-items: center;
      .hs-icon {
        padding: 4px;
        margin-left: auto;
        cursor: pointer;
        transition: opacity 0.2s;
        &:hover { opacity: 0.8 }
        &:active { opacity: 0.5 }
      }
      .hs-close {
        margin-left: 0;
      }
    }
  }
  #_AE_search-results > div.block-wrapper {
    @mixin opaque {
      opacity: 1;
      cursor: inherit;
      &:hover, &:active { opacity: 1 }
    }
    div.block {
      height: 44px;
    }
    div.block.abl {
      background-color: #f2f2f2;
    }
    .param-bubble {
      height: 36px;
      border: 2px solid white;
      width: auto;
      border-radius: 20px;
      margin: 0 4px;
      @include opaque;
    }
    .operator {
      height: 32px;
      padding: 0 4px;
      @include opaque;
      > .param-bubble {
        display: inline-flex;
        height: 32px;
      }
      &.rcol { width: 48px; }
    }
  }

  @media (max-width: 780px) {
    padding-top: 0;
    &.open #_ae-kb-option-selector {
      display: block;
    }
    .category-label > p.icon {
      margin-right: 0;
      font-size: 20px;
    }
    div.keyboard-blocks-container {
      color: var(--col-text);
      label[data-trait-name="video_url_path"] > input {
        min-width: 144px;
      }
      > label, div.row { white-space: nowrap; margin-bottom: 0; }
    }
    #_AE_search-options {
      display: flex;
      .option-rows-container {
        flex-direction: row;
      }
      label {
        margin: 3px 0;
        padding: 0;
        font-size: 16px;
      }
      input[type="checkbox"] {
        width: 16px;
        height: 16px;
      }
    }
    .search-input-container-desktop {
      display: none;
    }
    .keyboard-category-selector > div.search-input-container-mobile {
      padding: 6px 12px;
      flex-direction: row;
      input[type="search"] {
        border: 1px solid #555;
        padding: 6px 8px;
        border-radius: 2px;
        font-size: 16px;
        width: 100%;
        height: 100%;
      }
      button {
        height: 100%;
        border: 1px solid #555;
        border-radius: 2px;
        margin-left: 4px;
        width: 44px;
      }
    }
    #_AE_search-results > .search-result {
      position: relative;
      div.block { width: auto; max-width: 350px; }
      .trace {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        background-color: #f2f2f2dd;
        width: 100%;
        height: 100%;
        border-radius: 6px;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        padding: 0 20px;
      }
    }
  }
}

@mixin theme-bg {
  background-color: var(--col-bg-main);
  > *:not(button, input) { color: var(--col-text); }
}
@mixin centered-header {
  max-width: 440px;
  text-align: center;
  margin-top: 8px;
}
@mixin text-input {
  padding: 8px;
  font-size: 18px;
  width: 384px;
  max-width: 100%;
  margin: 4px 0;
  border-radius: 4px;
  border: 1px solid #666;
}
@mixin file-input {
  width: 365px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin: 16px auto 8px;
  max-width: 100%;
}

$dialog-cutoff-large: 640px;
$dialog-cutoff-small: 480px;
dialog:not(.block-json-editor) {
  max-width: 80%;
  max-height: calc(80% - 64px);
}

dialog.save-preset-dialog {
  display: flex;
  user-select: none;
  -webkit-user-select: none;
  max-width: calc(100% - 64px);
  @include theme-bg;
  > div {
    margin: 8px 24px;
    display: flex;
    flex-direction: column;
    color: var(--col-text);
    h2 {
      margin-top: 0;
      width: 100%;
      text-align: center;
    }
    label {
      font-size: 18px;
      margin-bottom: 4px;
    }
  }
  @media (max-width: $dialog-cutoff-large) {
    flex-direction: column;
  }
}

dialog.load-preset-dialog {
  user-select: none;
  -webkit-user-select: none;
  @include theme-bg;
  h2 { @include centered-header; }
  label {
    display: flex;
    align-items: flex-start;
    max-width: 400px;
    margin: auto;
  }
  input[type="file"] {
    @include file-input;
  }
  button[disabled] {
    cursor: not-allowed;
    color: #fff8;
    opacity: 0.9;
  }
}

dialog.gradient-bg {
  @include theme-bg;
  * { box-sizing: border-box; }
  h2 { @include centered-header; }
  p {
    font-size: 18px;
    margin-block: 0.4em;
  }
  table {
    margin: auto;
  }
  input:not([type="checkbox"], [type="radio"]) {
    @include text-input;
  }
  .color-preview {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
  }
  
  #gradient-preview {
    width: 180px;
    height: 90px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(to bottom, var(--col-g1), var(--col-g3));
    border-radius: 8px;
    &[type="radial"] {
      background: radial-gradient(var(--col-g1) 0%, var(--col-g2) 85%);
      background-size: 196px 196px;
      background-position: center;
    }
    &[type="horizontal"] {
      background: linear-gradient(to right, var(--col-g1), var(--col-g2));
    }
    &[type="vertical"] {
      background: linear-gradient(to bottom, var(--col-g1), var(--col-g2));
    }
    &[type="nesw"] {
      background: linear-gradient(45deg, var(--col-g1), var(--col-g2));
    }
    &[type="nwse"] {
      background: linear-gradient(135deg, var(--col-g1), var(--col-g2));
    }
    &[type="quad"]::after {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
        background: linear-gradient(to bottom, var(--col-g2), var(--col-g4));
        mask-image: linear-gradient(to left, white, transparent);
        -webkit-mask-image: linear-gradient(to left, white, transparent);
      border-radius: 8px;
    }
    p {
      z-index: 1;
      position: relative;
      margin: 0;
      top: -2px;
      user-select: none;
      -webkit-user-select: none;
      opacity: 1;
      transition: opacity 0.3s ease-out;
      color: white;
    }
    &.rgb p {
      opacity: 0;
    }
  }
  #color-preview-box {
    width: 196px;
    height: 90px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    input {
      box-sizing: border-box;
      width: 90px;
      font-size: 16px;
      margin: 4px;
      text-align: center;
      border-radius: 4px;
      border: 1px solid #666;
      outline: none;
    }
    &:not([type="quad"]) input:nth-child(n+3) {
      display: none;
    }
  }
  .jscolor-picker {
    :nth-last-child(2), input {
      background-color: white;
      margin: 0;
    }
  }

  @media (max-width: $dialog-cutoff-small) {
    p { font-size: 16px; }
    .small-block { display: block; }
    label {
      font-size: 14px;
      margin-top: 4px;
      display: inline-flex;
      align-items: center;
      input[type="radio"] { margin-block: 0; }
    }
    #gradient-preview {
      width: calc(100% - 180px);
      p { font-size: 14px; }
      input { width: 80px; padding: 8px 4px; }
    }
    #color-preview-box { width: 176px; }
    #color-preview-box input { width: 80px; }
  }
}

dialog.midi-hack-popup {
  @include theme-bg;
  * { box-sizing: border-box; }
  h2 { @include centered-header; }
  input[type="text"] { @include text-input; width: 100%; }
  input[type="file"] { @include file-input; margin-inline: 0; }
  p { font-size: 18px; margin-block: 0.4em; }
  .info { max-width: 400px; text-align: center; }
}

#blocks-container {
  .focus {
    animation: wiggle 0.25s cubic-bezier(0.4, 0, 0.4, 1) 0s 3, glow 3s cubic-bezier(0.4, 0, 0.4, 1) 0s 1;
  }
  .focus-ios, .focus-ios .operator {
    animation: bg-glow 3s cubic-bezier(0.4, 0, 0.4, 1) 0s 1;
  }
  @keyframes wiggle {
    0%{transform:rotate(3deg);}
    50%{transform:rotate(-3deg);}
    100%{transform:rotate(3deg);}
  }
  @keyframes bg-glow {
    20% {background-color: #11e4c8;}
  }
  @keyframes glow {
    0%{filter:contrast(1) brightness(1); -webkit-filter:contrast(1) brightness(1);}
    10%{filter:contrast(2) brightness(1.15); -webkit-filter:contrast(2) brightness(1.15);}
    100%{filter:contrast(1) brightness(1); -webkit-filter:contrast(1) brightness(1);}
  }
}

// QuickType
._AE_quicktype-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  > input[placeholder] {
    padding: 6px 10px;
    font-size: 16px;
  }
  > div {
    background-color: #666;
    color: white; //var(--col-text);
    width: fit-content;
    padding: 4px 0;
  }
  label {
    display: block;
    padding: 4px 10px;
    cursor: pointer;
    &:hover { color: #12edd0; }
    &:active { color: #12edd0cc; }
    &.selected { background-color: #08f; }
  }
  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
  }
}
